{% extends 'layout.html' %}
{% block content %}
    <!-- FROM home.html -->
    {% include 'navigation.html' %}

    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
        {% if records %}
            <h2 class="lead text-center">There are {{ records|length }} jobs pending!</h2>


            {% for record in records %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="{{ url_for('actor_display', id=record['Job_ID']) }}">VR{{ record['Job_ID']}}</a></h5>
                        <p class="card-text">Customer name: {{ record['Customer_Last_Name'] }}</p>
                        <p class="card-text">Address: {{ record['Address'] }} Postcode: {{ record['Postcode'] }}</p>
                        <br>
                        <a href="#" class="btn btn-primary">Start</a>
                        <a href="#" class="btn btn-success">Done</a>
                        <a href="#" class="btn btn-danger">Not Done</a>
                    </div>
                </div>
                <br><br>
            {% endfor %}

        {% else %}
            <h2>No jobs available.</h2>
        {% endif %}
        <!-- home.html ends here-->
    </div>
{% endblock %}
