{% extends 'layout.html' %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <div class="jumbotron">
            <h1>{{ record.title }}</h1>
        </div>

        {% if record %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{ url_for('jobs_display', id=record.job_ID) }}">VR{{ record.job_ID }}</a>
                    </h5>
                    <p class="card-text">Description: {{ record.description }}</p>
                    <p class="card-text">Customer Last Name: {{ record.Customer_Last_Name }}</p>
                </div>
            </div>
            <br><br>
        {% else %}
            <h2>No job details available.</h2>
        {% endif %}
    </div>
{% endblock %}
