<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/static/Logo.png" width="65" height="60" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/progress">Progress Report</a>
        {%  if role==['admin'] %}
      <a class="nav-item nav-link" href="/engineer_view">View Engineers</a>
      <a class="nav-item nav-link" href="/All_Jobs">View All Jobs</a>
      <a class="nav-item nav-link" href="/addjob">Add a Job</a>
      <a class="nav-item nav-link" href="/addstaff">Create Staff</a>
        {% endif %}
      <a class="nav-item nav-link" href="/logout">Log Out</a>
    </div>
  </div>
</nav>
         {%  if user %}
          <p>Hello {{ user }}</p>
          {% endif %}
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
		<div class="alert alert-warning" role="alert">
			<strong>{{ message }}</strong>
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</div>
<!-- navigation.html ends here-->

