<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header>
          <br>
   <nav>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/progress" class="btn btn-primary">Progress Report</a>
    <a href="/engineer_view" class="btn btn-primary">Engineer View</a>
    <a href="/addjob" class="btn btn-primary">Create Jobs</a>
    <a href="/addstaff" class="btn btn-primary">Create Staff</a>
  </nav>
          {%  if user %}
          <p>Hello {{ user }}</p>
          {% endif %}
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
		<div class="alert alert-warning" role="alert">
			<strong>{{ message }}</strong>
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</header>
  </div>
  </div>
</div>
<!-- navigation.html ends here-->
