{% extends 'layout.html' %}
{% block content %}
	{% include 'navigation.html' %}
	<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
		<div class="jumbotron">
			<h1>{{ title }}</h1>
			<p>{{ description }}</p>
		</div>

        {% if records %}
            <h2 class="lead text-center">There are {{ records|length }} jobs historically!</h2>

            {% for record in records %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="{{ url_for('jobs_display', id=record['job_ID']) }}">VR{{ record['job_ID'] }}</a></h5>
                        <p class="card-text">Customer name: {{ record['Customer_Last_Name'] }}</p>
                        <p class="card-text">Address: {{ record['Address'] }} Postcode: {{ record['Postcode'] }}</p>
                        <p class="card-text">Job started at: {{ record['Start_Time'] }}</p>
                        <p class="card-text">Job completed at: {{ record['End_Time'] }}</p>
                        <p class="card-text">Was it a not done?: {{ record['Is_Not_Done'] }}</p>
                        <br>
                    </div>
                </div>
                <br><br>
            {% endfor %}

        {% else %}
            <h2>No historical records.</h2>
        {% endif %}
    </div>
{% endblock %}


.card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  color: #666;
  font-size: 14px;
}

.card .btn {
  margin-right: 5px;
}